SetEnvIf Host dev.xball.kh.ua APP_ENV=developer
SetEnvIf Host dev.xball.kh.ua DEVELOPER
AuthType Basic
AuthName "RexFramework Auth"
AuthUserFile /home/websfree/xball.kh.ua/dev/.htpasswd
Require valid-user
Order allow,deny
Allow from all
Deny from env=DEVELOPER
Satisfy any

<ifModule mod_headers.c>
    # Все html и htm файлы будут храниться в кэше браузера один день
    <FilesMatch "\.(html|htm)$">
        Header set Cache-Control "max-age=43200"
    </FilesMatch>
    # Все css, javascript и текстовые файлы будут храниться в кэше браузера одну неделю
    <FilesMatch "\.(js|css|txt)$">
        Header set Cache-Control "max-age=604800"
    </FilesMatch>
    # Все флэш файлы и изображения будут храниться в кэше браузера один месяц
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
        Header set Cache-Control "max-age=2592000"
    </FilesMatch>
    # Отключаем кеширование php и других служебных файлов
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        Header unset Cache-Control
    </FilesMatch>
</IfModule>
<ifModule mod_expires.c>
    ExpiresActive On
    #по умолчанию кеш на 5 секунд
    ExpiresDefault "access plus 5 seconds"
    #кэшируем флэш и изображения на месяц
    ExpiresByType image/x-icon "access plus 1 month"
    ExpiresByType image/jpeg "access plus 4 weeks"
    ExpiresByType image/png "access plus 30 days"
    ExpiresByType image/gif "access plus 43829 minutes"
    ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
    #кэшируем CSS, JavaScript и текстовые файлы на одну неделю
    ExpiresByType text/css "access plus 604800 seconds"
    ExpiresByType text/javascript "access plus 604800 seconds"
    ExpiresByType application/javascript "access plus 604800 seconds"
    ExpiresByType application/x-javascript "access plus 604800 seconds"
    #кэшируем HTML и HTM файлы на один день
    ExpiresByType text/html "access plus 43200 seconds"
    #кэшируем XML файлы на десять минут
    ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>

#Options +FollowSymLinks
RewriteEngine On
           
RewriteRule ^css/(.*)$ /public/css/$1 [R=301,L]
RewriteRule ^js/(.*)$ /public/js/$1 [R=301,L]
RewriteRule ^img/(.*)$ /public/img/$1 [R=301,L]

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]