#Options +FollowSymLinks
RewriteEngine On
ServerSignature Off
AddDefaultCharset UTF-8
           
#RewriteRule ^css/(.*)$ /public/css/$1 [R=301,L]
#RewriteRule ^js/(.*)$ /public/js/$1 [R=301,L]
#RewriteRule ^img/(.*)$ /public/img/$1 [R=301,L]

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ http://www.xball.kh.ua [R=301,L] 